/* DF modifications */

.login-branding {
    display: none !important;
}

footer {
    > div {
        > ul {
            display: none !important;
        }

        &:after {
            content: "This Is The Footer";
        }
    }
}

sidemenu {
    display: none !important;
}

dashnav {
    display: none !important;
}
